body {
  margin: 0;
}

#MyViewerDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F0F8FF;
}

.adn-docking-panel {
  top: 10px;
  left: 10px;
}

.adn-model-structure-panel .docking-panel-scroll div:first-child {
  width: 370px;
  height: 530px;
  min-width: 370px;
  min-height: 530px;
}